<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>
        My Simple Web Application
    </title>
</head>
<style>
    body {
        background-color: #232f3e;
        font-family: Arial, Helvetica, sans-serif
    }

    .button {
        border-radius: 45px;
        height: 35px;
        width: 200px;
        background-color: #ed7211;
        border: 0ch;
        cursor: pointer;
    }

    .button:hover {
        background-color: #ed3911;
    }
</style>

<body>
    <p align=" center">
        <font size="2" color="#ffffff">
            My Simple Sample Page
        </font>
    </p>
    <hr color="#ffffff">
    <div class="main" id="home">
        <br /><br /><br /><br /><br />
        <h1 align="center">
            <font color="#ffffff" size="7">
                Start SDLC on AWS
            </font>
        </h1>
        <p align="center">
            <font color="#ffffff" size="3">
                Welcome to Class Automate SDLC.
            </font>
        </p>
        <p align="center">
            <button class="button" onclick="location.href=" https://www.linkedin.com/in/jonathanocardoso/"">
                <font color=#fffff>
                    GET STARTED
                </font>
            </button>
        </p>
    </div>
    <center><img
            src="https://images.squarespace-cdn.com/content/v1/5e9e61184a2e5f4b613d5853/1589203361327-OKGR7H58GGGLKW4K1EY1/CC.gif?format=1000w"
            alt="CloudGif" width=400px /></center>
    <hr color="#fffff" style="position: fixed; bottom: 3em; width:100%;">
    <div style="position: relative">
        <p style="position: fixed; bottom: 0; width:100%; text-align: center">
            <font size="2" color="#ffffff">
                © {{ year }}, Jonathan de Oliveira Cardoso
            </font>
        </p>
    </div>
</body>

</html>
